<h2>New Stock</h2>
{{!-- Searching for stock by typing in name --}}
<form class="form-inline" action="/stock-search-name" method="GET">
  <div class="form-group mx-sm-3 mb-2">
    <label>
      <input type="text" name="stocks" placeholder='Company Name'>
    </label>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search for Stock by Name</button>
</form>

<h2>Welcome To Your Stock Trader</h2>
<p>This is your profile page my friend, deal with care.</p>

{{!-- Creation of the drop down list --}}
<form class="form-inline" action="/stock-search" method="GET">
  <div class="form-group mx-sm-3 mb-2">
    <select name="stocks">
      {{#each stockInfo}}
        <option value="{{this}}" name="stocks">{{this}}</option>
      {{/each}}
    </select>  
  </div>
  <button type="submit" class="btn btn-primary mb-2">Choose Stock</button>
</form>

{{!-- Buy the stock with input from the dropdown list --}}
<form class="form-inline" action="/stock-buy" method="POST">
  <div class="form-group mx-sm-3 mb-2">
    <label>
      <input type="number" name="stockNumber" placeholder='Choose number to buy' min="1">
      <input type="hidden" name="stockName" value="{{stockInfoBuy}}" >
      <input type="hidden" name="buyingPrice" value={{stockOpenValue}} >
    </label>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Buy</button>
</form>

{{!-- Overview for choosen stock --}}
<div>  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Current stock value</th>
        <th scope="col">Highest day value</th>
        <th scope="col">Lowest day value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{stockInfoBuy}}</th>
        <th scope="row">{{stockOpenValue}}</th>
        <th scope="row">{{stockHighValue}}</th>
        <th scope="row">{{stockLowValue}}</th>
      </tr>
    </tbody>
  </table>
</div>

{{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
{{/if}}


