
<section id='depo'>
<h1>Welcome To Your Stock Trader</h1>
<p>This is where you find and buy Stocks, deal with care.</p>

<form action="/stock-search-name" method="GET">
  <div>
    <label>
      <input type="text" name="stocks" placeholder='Company Name'>
    </label>
  </div>
  <button type="submit" >Search for Stock by Name</button>
</form>



{{!-- Creation of the drop down list --}}
<form action="/stock-search" method="GET">
  <div>
    <select name="stocks">
      {{#each stockInfo}}
        <option value="{{this}}" name="stocks">{{this}}</option>
      {{/each}}
    </select>  
  </div>
  <button type="submit" class="btn btn-primary mb-2">Choose Stock</button>
</form>

{{!-- Buy the stock with input from the dropdown list --}}
<form action="/stock-buy" method="POST">
  <div>
    <label>
      <input type="number" name="stockNumber" placeholder='Choose number to buy' min="1">
      <input type="hidden" name="stockName" value="{{stockInfoBuy}}" >
      <input type="hidden" name="buyingPrice" value={{stockOpenValue}} >
    </label>
  </div>
  <button type="submit">Buy</button>
</form>
</section>

{{!-- Overview for choosen stock --}}
<div id='depo-table'>  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Current stock value</th>
        <th scope="col">Highest day value</th>
        <th scope="col">Lowest day value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{stockInfoBuy}}</th>
        <th scope="row">{{stockOpenValue}}</th>
        <th scope="row">{{stockHighValue}}</th>
        <th scope="row">{{stockLowValue}}</th>
      </tr>
    </tbody>
  </table>
</div>

{{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
{{/if}}


